.dropdown {
  position: relative;
  margin-bottom: 0.7rem;
  font-family: Poppins;

  width: 100%;
}

.dropdown .dropdown-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--light);
  padding: 15px 20px;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
  border-radius: 0.8rem;
  cursor: pointer;
}

.dropdown .dropdown-picker:hover {
  border: 1px solid #5e5e5e;
}

@keyframes SlideUp {
  0% {
    opacity: 0;
    transform: translate(0, 0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes SlideDown {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0.5rem);
  }
}

.dropdown .dropdown-box {
  position: absolute;
  max-height: 200px;

  overflow: auto;

  top: calc(100% + 0.3rem);
  width: 100%;
  background: #0c0c0c;
  padding: 0.8rem 0.5rem;
  border: 1px solid #dcdcdc4d;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem 0 #181818;
  cursor: pointer;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.dropdown .dropdown-box > div {
  display: flex;
  flex-direction: column;
}

.dropdown .dropdown-box > div > div {
  padding: 10px 30px;
}

.dropdown .dropdown-box.dropdown-box-hide {
  /* animation: SlideDown .5s; */
  display: none;
}

.dropdown .dropdown-box li {
  list-style: none;
  display: block;
  padding: 0.8rem;
}

.dropdown .dropdown-box li:hover {
  background: var(--border);
  border-radius: 10px;
  transition: background ease-in-out 0.3s;
}
